<!DOCTYPE html>
<html>

 <head  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
    <title>Home Page</title>
</head>
<body>
    <section id="content">
    <h1>Welcome to Home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio velit reiciendis earum aliquid. Debitis quibusdam delectus consequatur optio? Deserunt non totam repudiandae ab voluptates. Nulla, veniam? Dignissimos molestiae exercitationem veniam!</p>
    </section>
    <script>console.log("Home page")</script>
</body>
</html>
