<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: parent(~{::#content},  ~{::title}, ~{::script})}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
</head>
<body>
    <section id="content">
        <p>Services Page</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio velit reiciendis earum aliquid. Debitis quibusdam delectus consequatur optio? Deserunt non totam repudiandae ab voluptates. Nulla, veniam? Dignissimos molestiae exercitationem veniam!</p>
    </section>
    <script>console.log("Services page")</script>
</body>
</html>
